---
import Layout from '../../layouts/Layout.astro';
import { sanityClient } from 'sanity:client';
import type { Slug } from '@sanity/types';

import Blocks from '../../components/blocks/Blocks';
import { type BlockProps } from '../../components/blocks/types';

export async function getStaticPaths() {
  const post = await sanityClient.fetch(
    `*[_type == "posts"]
     {
		...,
    slug,
     block[]{
         ...,
        heading,
        subheading,
        tags,
        category->,
        layout,
        publicationDate,
        team->,
            "imageRef": {
              ...,
            "imageUrl": imageRef->image.asset->url,
            "imageAlt": imageRef->alt,
        },

        content[] {
            ...,
            image-> {
                ...,
                className->{name},
                team->,
            },

            "videoRef": {
              ...,
                "videoTitle": video->title,
                "videoFileUrl": video->video.asset->url,
                "videoImage": video->image.asset->url,
                "videoUrl": video->url,
                "videoTeam": video->team,
            },
            
            "audioRefData": {
                "audioTitle": audio->title,
                "audioFileUrl": audio->audioFile.asset->url
            },
            
            "quoteRef": {
                "quoteTitle": quote->quote,
                "quoteAuthor": quote->author,
                "quoteImage": quote->mediaRef.image->image,
                "quoteLayout": quote->mediaRef.layout,

            },

            "postsRef": {
                "postsHeading": posts->block[0].heading,
                "postsSlug": posts->slug.current,
                "postsImage": posts->block[0].imageRef->image.asset->url,
            },
        },
    }}`,
  );

  return post.map((post: any) => ({
    params: { slug: post.slug.current },
    props: { post },
  }));
}

const { post = {} as any } = Astro.props;

const { block } = post;

console.log('post slug', post);
---

<Layout title='Rthmn.'>
  <main>
    {
      block?.map((block: any) => (
        <Blocks client:load block={block as BlockProps} />
      ))
    }
  </main>
</Layout>
