---
import { MainPost } from '../components/MainPost';
import Navbar from '../components/Navbar';
import Layout from '../layouts/Layout.astro';
import { sanityClient } from 'sanity:client';

const posts = await sanityClient.fetch(
  `*[_type == "posts" ] | order(publishedAt desc)
    {
		...,
    slug,
     block[]{
       ...,
       heading,
       subheading,
        category,
       layout,
       title,
       publicationDate,
        "imageRef": {
              ...,
            "imageUrl": imageRef->image.asset->url,
            "imageAlt": imageRef->alt,
        },
      
      team->{
       ...,
       name,
       role,
       image,
       shortBio,
     },
    }}`,
);
console.log(posts);
---

<Layout title='Rthmn.'>
  <Navbar client:load />
  <main>
    <div class='flex h-screen w-full flex-col items-center justify-center'>
      <h1
        class='heading-text block flex w-auto text-balance text-center text-6xl leading-[.9em] tracking-wide md:text-8xl'
      >
        Trading In<br />Another<br />Dimension
      </h1>
      <div class='flex w-full flex-col items-center justify-center'>
        <h2
          class='primary-text w-3/4 text-balance py-6 text-center text-xl text-gray-200 md:w-1/2 md:text-2xl'
        >
          The world’s first 3D pattern recognition tool designed to identify
          opportunities no one else sees.
        </h2>
      </div>
      <div
        class='relative flex h-16 flex-row items-center gap-2 pt-6 md:flex-row'
      >
        <input
          type='email'
          placeholder='Enter your email'
          class='primary-text w-[280px] transform-gpu rounded-l-lg border border-gray-500/50 bg-black px-4 py-[.7em] text-xl font-medium outline-none transition-all duration-300 ease-in-out focus:border-2 focus:border-gray-500 md:w-auto lg:pr-32'
        />
        <button
          class='bottom-0 right-0 top-0 flex hidden w-[360px] transform-gpu items-center justify-center rounded-r-lg border border-gray-500 bg-gradient-to-r from-[#7886FF] to-[#CBFFFF] px-4 py-3 text-xl font-semibold text-black transition-all duration-300 ease-in-out hover:shadow-lg md:block md:w-auto'
        >
          Request Access
        </button>
        <button
          class='bottom-0 right-0 top-0 block flex w-auto transform-gpu items-center justify-center rounded-r-lg border border-gray-500 bg-gradient-to-r from-[#7886FF] to-[#CBFFFF] px-4 py-3 text-xl font-semibold text-black transition-all duration-300 ease-in-out hover:shadow-lg md:hidden md:w-auto'
        >
          SEND
        </button>
      </div>
    </div>
    <section class='hidden'>
      {posts.length ? posts.map((post: any) => <MainPost post={post} />) : null}
    </section>
  </main>
</Layout>
