---
import { MainPost } from '../components/MainPost';
import Navbar from '../components/Navbar';
import Layout from '../layouts/Layout.astro';
import { sanityClient } from 'sanity:client';
import Footer from '../components/Footer.astro';

const posts = await sanityClient.fetch(
  `*[_type == "posts" ] | order(publishedAt desc)
    {
     slug,
     block[]{
       heading,
       subheading,
       category,
       title,
       publicationDate,
        "imageRef": {
              ...,
            "imageUrl": imageRef->image.asset->url,
            "imageAlt": imageRef->alt,
        },
      team->{
       name,
       role,
       image,
     },
    }}`,
);
---

<Layout title='Rthmn.'>
  <Navbar client:load />
  <div>
    {posts.length ? posts.map((post: any) => <MainPost post={post} />) : null}
  </div>
</Layout>
